.box
{
    color: #FFFFFF;
    padding: 0 0 0 0;
}

.aboutus{
    margin-top: 25%;
    z-index: 1;
}

.heading
{
    color: #FFFFFF;
    margin-top: 3%;
    margin-left: 10%;
    padding-top: 30px;
    padding-left: 0px;
    font-size: 42px;
    line-height: 53px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
}
.about-us
{
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 10%;
    padding: 0 0 0 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
}
@media screen and (max-width: 430px){

    .about-us{
        width: 300px;
        margin: 80px 10px 20px 28px;
    }

    .heading{
        margin-left:30%;
    }
    .main4{
        font-size:7px !important;
        font-weight: normal !important;
        margin: 15px 14px 20px 25px;
        border: 4px solid #ffffff;
        width: 280px;
        text-align: center;
        border-radius: 10px;
        padding: 2px 2px 2px 2px;
    }
    #bt1,#bt2,#bt3{
        font-size:20px !important;
        margin-bottom:0px !important;
        padding: 8px 8px 8px;
    }
    #bt3{
        padding-left: 10px;
    }
    .box{ 
        text-align: center !important;
        width: 300px;
    }
}
@media screen and (max-width: 576px){
    .main4{
        font-size:12px !important;
        font-weight: normal !important;
    }
    #bt1,#bt2,#bt3{
        font-size:20px !important;
    }
}
@media screen and (max-width: 788px){
    .main4{
        font-size:15px !important;
        line-height:105% !important;
        font-weight: normal !important;
    }
    #bt1,#bt2,#bt3{
        font-size:25px !important;
    }
}

.btn:hover{
    color:#0C8A2F;
    background-color: #0E0E0E;
}
.btn:focus, a:focus
{
    color:#0C8A2F;
    box-shadow: none;

    
}
.btn:active, a:active
{ 
    color:#0C8A2F;
    box-shadow: none;
    
}
#bt1,#bt2,#bt3
{ 
    box-shadow: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border: none;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
}
#bt3
{
    padding-right: 30px;
}

.main4
{
    color: #FFFFFF;
    font-size: 26px;
    line-height: 31px;
    padding: 20px 0 0 10px;

}
