.aboutus {
    margin-top: 25%;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    margin-bottom: 5%;
}

.aboutus .about-us {
    margin-top: 5%;
    margin-right: 5%; 
    margin-left: 10%;
    padding: 0 0 0 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
}

.aboutus .heading {
    color: #ffffff;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: auto;
    padding-top: 30px;
    padding-left: 0px;
    font-size: 45px;
    line-height: 53px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
}

@media screen and (max-width: 430px) {
    .aboutus{
        height: 150vh;
    }
    .aboutus .about-us {
        width: 300px;
        margin: 30px auto 20px auto;
        padding-top: 0px;
    }

    .aboutus h1 {
        font-size: 35px;
        margin-top: 300px;
        margin-left: 10%;
    }

    .aboutus .main4 {
        font-size: 5px !important;
        font-weight: normal !important;
        margin: 15px 14px 20px 25px;
        border: 4px solid #ffffff;
        width: 280px;
        text-align: center;
        border-radius: 10px;
        padding: 2px 2px 2px 2px;
    }

    .aboutus #bt1,
    #bt2,
    #bt3 {
        font-size: 20px !important;
        margin-bottom: 0px !important;
        padding: 8px 8px 8px;
    }

    .aboutus #bt3 {
        padding-left: 10px;
    }

    .aboutus .box {
        text-align: center !important;
        width: 300px;
    }
}

@media screen and (max-width: 576px) {
    .aboutus{
        height: 150vh;
    }
    .aboutus .main4 {
        font-size: 12px !important;
        font-weight: normal !important;
    }

    .aboutus #bt1,
    #bt2,
    #bt3 {
        font-size: 20px !important;
    }
}

@media screen and (max-width: 788px) {
    .aboutus .main4 {
        font-size: 15px !important;
        line-height: 105% !important;
        font-weight: normal !important;
    }

    .aboutus #bt1,
    #bt2,
    #bt3 {
        font-size: 25px !important;
    }
}

.aboutus .btn:hover {
    color: #0c8a2f;
    background-color: #0e0e0e;
}

.aboutus .btn:focus,
.aboutus a:focus {
    color: #0c8a2f;
    box-shadow: none;
}

.aboutus .btn:active,
.aboutus a:active {
    color: #0c8a2f;
    box-shadow: none;
}

.aboutus #bt1,
#bt2,
#bt3 {
    box-shadow: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border: none;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
}

.aboutus #bt3 {
    padding-right: 30px;
}

.aboutus .main4 {
    color: #ffffff;
    font-size: 26px;
    line-height: 31px;
    margin: 0;
}

/* Swiper Js pagination */
.aboutus .swiper {
    width: 250px;
    height: 610px;
    margin-left: auto;
}

.aboutus .swiper-slide {
    text-align: center;
    font-size: 12px;
    background: #0e0e0e;
    color: #ffffff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: 801px;
}

.aboutus .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.aboutus .slogan {
    margin-left:0px !important;
    margin-top: 10px !important;
    color: #0c8a2f !important;
}

.aboutus .boundary {
    border: 4px solid #ffffff;
    height: auto;
    padding: 2px;
    border-radius: 8px;
}

.aboutus .swiper-pagination-bullet {
    background-color: #ffffff;
}
