 .u-section-1 {
 
  background-image: none;
}

.u-body{
  background-color:#0E0E0E ;
}
.u-section-1 .u-sheet-1 {
  background-color:#0E0E0E ;
  min-height: 737px;
}

.u-section-1 .u-group-1 {
  border-radius: 2rem;
  background-color: #0E0E0E;
  width: 710px;
  min-height: 627px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 55px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  border-radius: 1rem;
  box-shadow:5px 5px #0C8A2F ;
  background-color: #0E0E0E;
  padding: 50px 40px 50px 80px;
}

.u-section-1 .u-text-1 {
  color: #0C8A2F;
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-form-1 {
  width: 515px;
  margin: 20px auto 0;
}
.u-section-1 .btn-success1{
  color:white;
  background-color:#0C8A2F ;
}

.u-section-1 .u-form-group-1 {
  width: 100%;
}

.u-section-1 .u-form-group-2 {
  width: 100%;
}
.u-section-1 .u-svg-link{
  color:#0C8A2F
}

.u-section-1 .u-form-group-3 {
  width: 100%;
}

.u-section-1 .u-form-group-4 {
  width: 100%;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-1 .u-list-1 {
  
  width: 512px;
  height: auto;
  margin: -570px auto 112px 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(50% - 10.5px) calc(50% - 10.5px);
  grid-gap: 21px 21px;
  min-height: 512px;
}

.u-section-1 .u-list-item-1 {
  border-radius: 1rem;
  box-shadow:5px 5px 10px #0C8A2F ;
  background-image: none;
  background-color: #0E0E0E;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  color: #0C8A2F;
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-1 .to-center-it{
  text-align: center;
  margin: 35% 0;
  color: #0C8A2F;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 19px 0 0;
}

.u-section-1 .u-list-item-2 {
  border-radius: 1rem;
  box-shadow:5px 5px 10px #0C8A2F ;
  background-color: #0E0E0E;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}
.u-section-1 .u-border-white1{
  border-radius: 1rem;
  background-color:#0C8A2F ;
  border-color: #0C8A2F;
}
.u-section-1 .u-border-white1:hover{
  border-radius: 1rem;
  background-color:#0C8A2F ;
  border-color: #0C8A2F;
}
.u-section-1 .u-input input{
   border: none;
  border-bottom: 2px solid #ebfff1;
}

.u-section-1 .u-icon-2 {
  height: 64px;
  width: 64px;
  color: rgb(137, 216, 227) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-3 {
  border-radius: 1rem;
  box-shadow:5px 5px 10px #0C8A2F ;
  background-color: #0E0E0E;
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 64px;
  width: 64px;
  color: rgb(137, 216, 227) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-7 {
  margin: 19px 0 0;
}

.u-section-1 .u-list-item-4 {
  border-radius: 1rem;
  box-shadow:5px 5px 10px #0C8A2F ;
  background-color: #0E0E0E;
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-icon-4 {
  height: 64px;
  width: 64px;
  color: rgb(137, 216, 227) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-8 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-9 {
  margin: 19px 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 743px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    min-height: 624px;
    margin-top: 60px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 37px;
  }

  .u-section-1 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-list-1 {
    width: 451px;
    margin-top: -571px;
    margin-bottom: 113px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1149px;
  }

  .u-section-1 .u-group-1 {
    width: 559px;
    min-height: 627px;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 125px 30px 30px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -1009px;
    margin-bottom: 211px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1157px;
  }

  .u-section-1 .u-group-1 {
    width: 500px;
    min-height: 615px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 80px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -1016px;
    margin-bottom: 199px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1611px;
  }

  .u-section-1 .u-group-1 {
    min-height: 563px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 65px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 0;
  }

  .u-section-1 .u-list-1 {
    width: 260px;
    margin: -1479px auto -338px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }
}
