.domain .row {
    color: white;
    margin-top: 30px;

}

.domain .rotate {
    width: 100px;
    height: 100px;
}

.domain #img1,
.domain #im,
.domain #im1,
.domain #im2,
.domain #im3,
.domain #im4 {
    height: 200px;
    width: 200px;
}

.domain .img2,
.domain #imgD {
    margin-top: -225px;
    margin-left: 15px;
    margin-right: 20px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 50%;
    transform-style: preserve-3d;
}

.domain .i1 {
    margin-top: -225px;
    margin-left: 15px;
    margin-right: 20px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 50%;
    transform-style: preserve-3d;
    height: 170px;
    width: 170px;
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.domain .i2 {
    height: 170px;
    width: 170px;
    margin-top: -225px;
    margin-left: 15px;
    margin-right: 20px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 50%;
    /*background: rgba(255, 255, 255, 0.15);
    border-radius: 50%;*/
    /*padding-left:6px;
    padding-right:10px;
    padding-bottom:20px;
    padding-top:30px;*/
    transform-style: preserve-3d;
}

.domain .i4 {
    margin-top: -225px;
    margin-left: 15px;
    margin-right: 20px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 50%;
    transform-style: preserve-3d;
    height: 170px;
    width: 170px;
    padding-bottom: 20px;
}


.domain .img2 {
    width: 170px;
    height: 170px;
}

.domain #imgD {
    padding: 5px 10px;

}

.domain #content-desktop {
    display: block;
}

.domain #content-mobile {
    display: none;
}

@media screen and (max-width: 768px) {
    .domain .row {
        color: white;
        margin: 30px 0;
    }

    .domain .tech {
        margin-top: 25px;
    }

    .domain .rotate {
        width: 100px;
        height: 100px;
    }

    .domain #img1,
    .domain #im,
    .domain #im1,
    .domain #im2,
    .domain #im3,
    .domain #im4 {
        height: 120px;
        width: 120px;
    }

    .domain .img2 {
        margin-top: -147px;
        margin-left: 10px;
        /*margin-right:100px;*/
        background: rgba(255, 255, 255, 0.15);
        border-radius: 50%;
        transform-style: preserve-3d;
    }

    .domain #imgD {
        height: 100px;
        width: 100px;
        margin-top: -145px;
        margin-left: 10px;
        /*margin-right:100px;*/
        background: rgba(255, 255, 255, 0.15);
        border-radius: 50%;
        transform-style: preserve-3d;
    }

    .domain .i1 {
        margin-top: -147px;
        margin-left: 10px;
        margin-right: 100px;
        background: rgba(255, 255, 255, 0.15);
        border-radius: 50%;
        transform-style: preserve-3d;
        height: 100px;
        width: 100px;
        padding-left: 30px;
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }

    .domain .i2 {
        height: 100px;
        width: 100px;
        margin-top: -150px;
        margin-left: 10px;
        /*margin-right:200px;*/
        transform-style: preserve-3d;
        background: rgba(255, 255, 255, 0.15);
        border-radius: 50%;

    }

    .domain .i4 {
        margin-top: -147px;
        margin-left: 10px;
        margin-right: 20px;
        background: rgba(255, 255, 255, 0.15);
        border-radius: 50%;
        transform-style: preserve-3d;
        height: 100px;
        width: 100px;
        padding-bottom: 20px;
    }


    .domain .img2 {
        width: 100px;
        height: 100px;
    }

    .domain #imgD {
        padding: 5px 10px;
    }



    .domain #content-desktop {
        display: none;
    }

    .domain #content-mobile {
        display: block;
    }

}