.events {
    background-image: url("../images/events/Group.svg");
    background-size: cover;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    align-items: flex-start;
    /* position: relative; */
    margin-bottom: -5%;
}

.events .description {
    padding-left: 5%;
    padding-right: 5%;
    width: 50vw;
}

.events .title h1 {
    margin-top: 5%;
    font-family: "Mullish";
    color: white;
    font-weight: 400;
}

.events .info {
    color: white;
    font-family: "Raleway";
    width: 40vw;
    font-size: 26px;
    margin-top: 8%;
    text-align: justify;
}

.events .events-spinner {
    top: 40%;
    right: 60%;
    position: absolute;
    transform: rotate(90deg);
}

.events h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-weight: bold;
}

.events hr.small {
    width: 50px;
}

.events .details {
    position: absolute;
    height: 280px;
    width: 280px;
    top: -675px;
    border-radius: 100%;
    transform: translateX(-50%);
    text-align: center;
}

.events .details a {
    height: 100%;
    width: 100%;
    /* transform: scale(0); */
    border-radius: 100%;
    border: none;
}

.events .details a .event-image {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    left: 0;
    top: 0;
    transform: scale(0);
    transform: rotate(-90deg) !important;
    opacity: 0;
    transform: 1s;
    box-shadow: 0 0 30px #237b3c;
}

.events .details.active {
    position: absolute;
    z-index: 1;
}

.events .details.active a .event-image {
    height: 100%;
    width: 100%;
    transform: scale(1);
    opacity: 1;
    transition: opacity 1s;
}

.events .details .title {
    margin-bottom: 0;
}

.events .details .button {
    background: transparent;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 2px;
    margin-top: 1rem;
    z-index: 9999;
}

/* .events .svg-mask {
    position: absolute;
} */

.events .featured-slider {
    background: #237b3c;
    position: relative;
    margin: 0;
    height: 0;
    width: 0;
    top: -500px;
    left: 73%;
    transform: scale(0.37) translateY(-100px);
}

.events .featured-slider li {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.1s ease;
    opacity: 0.75;
}
.events .featured-slider li.active {
    opacity: 1;
}
.events .featured-slider li:nth-child(1) {
    transform: translate(-50%, -50%) rotate(0deg);
}
.events .featured-slider li:nth-child(2) {
    transform: translate(-50%, -50%) rotate(90deg);
}
.events .featured-slider li:nth-child(3) {
    transform: translate(-50%, -50%) rotate(180deg);
}
.events .featured-slider li:nth-child(4) {
    transform: translate(-50%, -50%) rotate(270deg);
}

.events .featured-slider li .image {
    width: 1200px;
    height: auto;
    transform: translate(1px, 728px);
}

.events .featured-slider li .image .t {
    background: #237b3c;
    -webkit-clip-path: url(#quarterMask);
    clip-path: url(#quarterMask);
}

@media only screen and (min-width: 850px){
    .events {
        height: 100vh;
        width: 100vw;
        position: relative;
    }
    
    .events .svg-mask {
        position: absolute;
    }
}

@media only screen and (min-width: 750px) and (max-width: 1000px) {
    .events .info {
        width: 50vw;
    }
    /* .events .events-spinner {
        top: 3100px;
        right: 95%;
    } */
}

@media only screen and (min-width: 660px) and (max-width: 750px) {
    .events .description {
        width: 55vw;
    }
    .events .info {
        width: 55vw;
    }
    /* .events .events-spinner {
        top: 3100px;
        right: 100%;
    } */
}

@media only screen and (min-width: 590px) and (max-width: 660px) {
    /* .events {
        display: block;
    } */
    .events .description {
        padding: 0% 5%;
        width: 100vw;
    }
    .events .title h1 {
        font-size: 2em;
        font-family: Mullish;
        margin-top: 5%;
        font-weight: 400;
        text-align: center;
    }
    .events .info {
        margin: 0%;
        font-size: 16px;
        width: 90vw;
        text-align: center;
    }
    /* .events .events-spinner {
        top: 3200px;
        right: 95%;
        position: absolute;
        transform: scale(0.55) rotate(90deg) !important;
    } */
    .events .details a .event-image {
        transform: rotate(-90deg) !important;
    }
}

@media only screen and (min-width: 560px) and (max-width: 590px) {
    /* .events {
        display: block;
    } */
    .events .description {
        padding: 0% 5%;
        width: 100vw;
    }
    .events .title h1 {
        font-size: 2em;
        font-family: Mullish;
        margin-top: 5%;
        font-weight: 400;
        text-align: center;
    }
    .events .info {
        margin: 0%;
        font-size: 16px;
        width: 90vw;
        text-align: center;
    }
    /* .events .events-spinner {
        top: 3000px;
        right: 100%;
        position: absolute;
        transform: scale(0.55) rotate(90deg) !important;
    } */
    .events .details a .event-image {
        transform: rotate(-90deg) !important;
    }
}

@media only screen and (min-width: 540px) and (max-width: 560px) {
    /* .events {
        display: block;
    } */
    .events .description {
        padding: 0% 5%;
        width: 100vw;
    }
    .events .title h1 {
        font-size: 2em;
        font-family: Mullish;
        margin-top: 5%;
        font-weight: 400;
        text-align: center;
    }
    .events .info {
        margin: 0%;
        font-size: 16px;
        width: 90vw;
        text-align: center;
    }
    /* .events .events-spinner {
        top: 2900px;
        right: 95%;
        position: absolute;
        transform: scale(0.5) rotate(90deg) !important;
    } */
    .events .details a .event-image {
        transform: rotate(-90deg) !important;
    }
}

@media only screen and (min-width: 490px) and (max-width: 540px) {
    /* .events {
        display: block;
    } */
    .events .description {
        padding: 0% 5%;
        width: 100vw;
    }
    .events .title h1 {
        font-size: 2em;
        font-family: Mullish;
        margin-top: 5%;
        font-weight: 400;
        text-align: center;
    }
    .events .info {
        margin: 0%;
        font-size: 16px;
        width: 90vw;
        text-align: center;
    }
    /* .events .events-spinner {
        top: 2900px;
        right: 100%;
        position: absolute;
        transform: scale(0.5) rotate(90deg) !important;
    } */
    .events .details a .event-image {
        transform: rotate(-90deg) !important;
    }
}

@media only screen and (min-width: 440px) and (max-width: 490px) {
    /* .events {
        display: block;
    } */
    .events .description {
        padding: 0% 5%;
        width: 100vw;
    }
    .events .title h1 {
        font-size: 2em;
        font-family: Mullish;
        margin-top: 5%;
        font-weight: 400;
        text-align: center;
    }
    .events .info {
        margin: 0%;
        font-size: 15px;
        width: 90vw;
        text-align: center;
    }
    /* .events .events-spinner {
        top: 2900px;
        right: 100%;
        position: absolute;
        transform: scale(0.45) rotate(90deg) !important;
    } */
    .events .details a .event-image {
        transform: rotate(-90deg) !important;
    }
}

@media only screen and (min-width: 400px) and (max-width: 440px) {
    /* .events {
        display: block;
    } */
    /* .events {
        flex-direction: column;
        position: initial;
        height: fit-content;
    } */
    .events .description {
        padding: 0% 5%;
        width: 100vw;
    }
    .events .title h1 {
        font-size: 2em;
        font-family: Mullish;
        margin-top: 5%;
        font-weight: 400;
        text-align: center;
    }
    .events .info {
        margin: 0%;
        font-size: 15px;
        width: 90vw;
        text-align: center;
    }
    /* .events .events-spinner {
        top: 2900px;
        right: 110%;
        position: absolute;
        transform: scale(0.45) rotate(90deg) !important;
    } */
    /* .events .events-spinner {
        position: initial;
        margin-top: 60%;
        margin-left: -28.5%;
        margin-bottom: -40%;
        transform: scale(0.55) rotate(90deg) !important;
    } */
    .events .details a .event-image {
        transform: rotate(-90deg) !important;
    }
}

@media only screen and (min-width: 370px) and (max-width: 400px) {
    /* .events {
        flex-direction: column;
        position: initial; 
        height: fit-content;
    } */
    .events .description {
        padding: 0% 5%;
        width: 100vw;
    }
    .events .title h1 {
        font-size: 2em;
        font-family: Mullish;
        margin-top: 5%;
        font-weight: 400;
        text-align: center;
    }
    .events .info {
        margin: 0%;
        font-size: 15px;
        width: 90vw;
        text-align: center;
    }
    /* .events .events-spinner {
        position: initial;
        margin-top: 60%;
        margin-left: -28.5%;
        margin-bottom: -40%;
        transform: scale(0.55) rotate(90deg) !important;
    } */
    .events .details a .event-image {
        transform: rotate(-90deg) !important;
    }
}

@media only screen and (min-width: 0px) and (max-width: 370px) {
    /* .events {
        display: block;
        flex-direction: column;
        height: fit-content;
    } */
    .events .description {
        padding: 0% 5%;
        width: 100vw;
    }
    .events .title h1 {
        font-size: 2em;
        font-family: Mullish;
        margin-top: 5%;
        font-weight: 400;
        text-align: center;
    }
    .events .info {
        margin: 0%;
        font-size: 14px;
        width: 90vw;
        text-align: center;
    }
    /* .events .events-spinner {
        top: 2900px;
        right: 115%;
        position: absolute;
        transform: scale(0.4) rotate(90deg) !important;
    } */
    /* .events .events-spinner {
        position: initial;
        margin-top: 60%;
        margin-left: -27%;
        margin-bottom: -40%;
        transform: scale(0.5) rotate(90deg) !important;
    } */
    .events .details a .event-image {
        transform: rotate(-90deg) !important;
    }
}

/* @media only screen and (max-width: 767px) {
    .events {
        flex-direction: column;
        height: fit-content;
    }
    .events .events-spinner {
        right: 102%;
        top: 190%;
        transform: scale(0.55) rotate(90deg) !important;
    }
}

@media only screen and (max-width: 500px) {
    .events .events-spinner {
        right: 115%;
        top: 170%;
        transform: scale(0.5) rotate(90deg) !important;
    }
}

 @media only screen and (max-width: 360px) {
    .events .events-spinner {
        transform: scale(0.45) rotate(90deg) !important;
    }
} */
/*
@media only screen and (max-width: 340px) {
    .events .events-spinner {
        right: 126%;
        top: 165%;
        transform: scale(0.45) rotate(90deg) !important;
    }
} */

@media only screen and (max-width: 849px) {
    .events{       
        flex-direction: column;
    }
    .events .events-spinner{
        width: 100%;
        height: 100%;
        position: relative;
        left: 0;
        right: 0;
        transform: scale(0.85) rotate(90deg) !important;
    }
    .events .content{
        position: relative;
    }
    .events .featured-slider {
        position: absolute;
        top: -260px;
        left: -100px;
    }
    /* .events .details {
        position: initial;
    } */
    .events .details a .event-image {
        left: -100px;
        top: 240px;
    }
    .events .description, 
    .events .info {
        width: 100%;
        text-align: center;
    }
}

@media only screen and (max-width: 650px){
    /* .events{       
        margin-bottom: -115%;
    } */
    .events .events-spinner{
        top: 5%;
        transform: scale(0.5) rotate(90deg) !important;
    }
}

@media only screen and (max-width: 380px){
    .events .events-spinner {
        transform: scale(0.45) rotate(90deg) !important;
    }
}

@media only screen and (max-width: 340px){
    .events .events-spinner {
        top: 5%;
        left: 4%;
    }
}