* {
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}

body {
    font-family: "Mulish";
    background-color: #0E0E0E;
    overflow-x: hidden;
}

.navbar {
    background-color: black;
    font-size: 18px;
    padding-bottom: 10px;
    box-shadow: 0px 2px 18px rgba(12, 138, 47, 0.97);
}

.navbar .topnav {
    list-style-type: none;
    display: none;
}

.navbar .nav-links,
.navbar .logo {
    text-decoration: none;
    color: white;
}

.navbar .topnav li {
    text-align: center;
    margin: 15px auto;
}

.navbar .logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}

.navbar .navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: black;
    font-size: 24px;
}

.navbar .active {
    display: block;
}

.navbar .icon {
    display: none;
}

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }
    .navbar .topnav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }
    .navbar .topnav li {
        margin: 0;
    }
    .navbar .nav-links {
        margin-left: 40px;
    }
    .navbar .logo {
        margin-top: 0;
    }
    .navbar .navbar-toggle {
        display: none;
    }
    .navbar .logo:hover,
    .navbar .nav-links:hover {
        color: rgba(12, 138, 47, 0.97);
    }
}

@media screen and (max-width: 767px) {
    .navbar .fa {
        font-size: 30px;
        color: white;
    }
    .navbar .responsive {
        display: initial;
    }
    .navbar .icon,
    .navbar .topnav.responsive .icon {
        display: initial;
        position: absolute;
        top: 0;
        right: 3%;
        margin: 2rem 0;
    }
    .navbar .logo:hover,
    .navbar .nav-links:hover,
    .navbar .topnav a.active {
        background-color: rgba(12, 138, 47, 0.97);
    }
    .navbar .topnav a:not(:first-child) {
        display: none;
    }
    .navbar .topnav a.icon {
        float: right;
        display: block;
    }
    .navbar .topnav.responsive {
        position: relative;
    }
    .navbar .topnav.responsive a {
        text-align: center;
        padding: 15px;
        text-decoration: none;
        font-size: 17px;
        display: block;
        text-align: center;
    }
    .navbar .topnav li {
        margin: 0;
    }
    .navbar {
        padding-bottom: 0;
    }
}